.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 15px;
  width: 200px;
  border: 1px solid rgba($color: #ccc, $alpha: 0.8);
  margin-bottom: 10px;
}

.avatar {
  margin-right: 10px;
  border-radius: 50px;
  overflow: hidden;

  img {
    height: 50px;
    width: 50px;
  }
}
