.root {
  width: 100%;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 10px 5px;
  font-size: 14px;
  outline: none;
  border: 1px solid rgba($color: #ccc, $alpha: 0.7);
  transition: border-color 0.3s;

  &:hover, &:focus, &:active {
    border-color: rgba($color: #ccc, $alpha: 1);
  }
}
